.dropdown-menu-container {
  position: fixed;
  bottom: 128px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 rgba(26, 46, 160, 0.10);
  padding: 0.5rem;
  z-index: 20;
  display: grid;
  width: max-content;
}

.dropdown-menu-item {
  cursor: pointer;
}
